body{

    background: white;
    width: auto;
    color: black;
    margin: 0;
    padding: 0;

}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    background: black
    
    
}
nav img{
    width: 200px;
    height: 200px;
}


nav ul{
    list-style:none;
    float: left;
  

}
nav ul li{
    padding: 10px;
    float: left;
 
    
}
nav ul li a{
    color:white;
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 30px;
}

h1,h2,h3{
    text-align: center;
    padding: 20px;
}
footer{
    background: black;
    color:white;
    text-align: center;
    width: auto;
    height: 100px;
}
a:visited    { color: rgb(255, 255, 255); text-decoration: none; }
/*----------------------------------------------------------------*/

#Biografia{
    margin: 0 auto;
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    border:solid rgb(195, 231, 15) 1px;

    width: 900px;
    padding: 10px;
}
#Biografia p{
    text-align: center;
    flex: 1;
}

/*----------------------------------------------------------------*/
#Direita{
    display: flex;
    width: 900px;
    height: auto;
    border:solid black;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 15px;;
    margin: 5px;
    margin-top: 5px;
    margin: 0 auto;
}

#Direita .itemE{
    width: auto;
    height: 200px;
    flex:0;
    padding-top: 10px;
}

#Direita .itemE img{
    width: 200px;
    height: 200px;
}

#Direita .itemE:hover{
    transform: translateY(-5px); 
	box-shadow: 0 6px 8px rgba(255, 255, 255, 0.5); 
}



/*----------------------------------------------------------------*/
 #Projetos{
    display: flex;

    width: 900px;
    height: auto;
    
    flex-direction: row;

    align-items: center;

    flex-wrap: wrap;

    margin: 0 auto;
    align-items: flex-start;
    padding: 10px;
 
}

/*----------------------------------------------------------------*/
#Projetos .item{
    margin-bottom: 15px;
    flex: 1;
}

#Projetos .item img{

    margin:10px;
    width: 400px;

}
/*----------------------------------------------------------------*/
#Descricao{
    height: 250px;
}
#Descricao p{
  
    float: right;
    color: black;
    font-size: 20px;

}
#Descricao .icone{
    float: right;
}

#Projetos img{
    width: 100px;
    
}

/*----------------------------------------------------------------*/
#Contato{
    width: 900px;
    border: solid;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
    align-items: baseline;

}

#Contato .cont{
    width:250px;
}
#Contato img{
    width: 200px;
}
#Contato a{
    
    width: 200px;
}

/*----------------------------------------------------------------*/

@media (max-width:300px) {
    body{
        background-color: black;
    }
}